sourceDir = "{{ .chezmoi.homeDir }}/dotfiles"

[data]
    machineRole = {{ if eq .chezmoi.os "darwin" }}"workstation"{{ else }}"agent-host"{{ end }}

[edit]
{{- if eq .chezmoi.os "darwin" }}
    command = "cursor"
    args = ["--wait"]
{{- else }}
    command = "vim"
{{- end }}

[diff]
    pager = "delta"
