case ":$PATH:" in
  *":$HOME/.local/bin:"*) ;;
  *) PATH="$HOME/.local/bin:$PATH" ;;
esac
export PATH
export ORRERY_VAULT="{{ if eq .chezmoi.os "darwin" }}$HOME/Documents/Notes/Orrery{{ else }}$HOME/vaults/orrery{{ end }}"
{{- if eq .chezmoi.os "darwin" }}
[ -x /opt/homebrew/bin/brew ] && eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}
